/*-------------------------------------------------------------------------------*/
/*                                                                               */
/*    1.1 COLORS / VARIABLES                                                     */
/*                                                                               */
/*-------------------------------------------------------------------------------*/
:root {
    --primary:      #c3ae8d;
    --primary-70:   rgba(195,174,141,0.70);
    --dark:         rgba(0,0,0,0.8);
    --light:        #efefef;
}


/*-------------------------------------------------------------------------------*/
/*    1.2 BASIC / TYPOGRAFY STYLE                                                */
/*-------------------------------------------------------------------------------*/

a:hover,
a:focus,
a:active,
a.active {
    color: var(--primary);
}

.button-scroll:hover,
.button-scroll:focus {
    background-color: rgba(249, 211, 0, 0.8);
    border-color: #dab900;
}

.form-control:focus {
    border-color: #dab900;
    -webkit-box-shadow: outset 0 0 8px rgba(249, 211, 0, 0.6);
    -moz-box-shadow: outset 0 0 8px rgba(249, 211, 0, 0.6);
    box-shadow: outset 0 0 8px rgba(249, 211, 0, 0.6);
}

.color-footer {
    color: #64605a;
}

ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

/*-------------------------------------------------------------------------------*/
/*        1.2b SPINNER STYLE                                                     */
/*-------------------------------------------------------------------------------*/

.ui-spinner a.ui-spinner-up,
.ui-spinner a.ui-spinner-down {
    background: var(--primary);
    border: 1px solid #dab900;
}

.ui-spinner .ui-icon {
    color: #333333;
}

.ui-spinner .ui-icon:hover,
.ui-spinner .ui-icon:focus {
    color: var(--primary);
}

/*-------------------------------------------------------------------------------*/
/*        1.2c DATEPICKER STYLE                                                  */
/*-------------------------------------------------------------------------------*/

.datepicker > .datepicker_header {
    border-top: 4px solid var(--primary);
}

.datepicker > .datepicker_header > a:hover {
    background-color: var(--primary);
}

.datepicker > .datepicker_inner_container > .datepicker_calendar .datepicker_table > tbody > tr > td.active,
.datepicker > .datepicker_inner_container > .datepicker_calendar .datepicker_table > tbody > tr > td:hover {
    background-color: var(--primary);
}

/*-------------------------------------------------------------------------------*/
/*        1.6 BUTTON                                                             */
/*-------------------------------------------------------------------------------*/

.btn-default {
    background-color: var(--primary);
    border-color: #dab900;
    color: #333333;
}

.open > .dropdown-toggle.btn-reverse {
    background-color: var(--primary);
    border-color: #dab900;
    color: #333333;
}

.btn-reverse.active,
.btn-reverse.focus,
.btn-reverse:active,
.btn-reverse:focus,
.btn-reverse:hover {
    /*background-color: var(--primary);*/
    border-color: #dab900;
    /*color: #333333;*/
    background-color: var(--dark);
    color: var(--primary);
}

/*-------------------------------------------------------------------------------*/
/*        1.8 NAVBAR STYLE                                                       */
/*-------------------------------------------------------------------------------*/

nav.menu-nav li a {
    color: #333333;
}

nav.menu-nav > ul a:hover,
nav.menu-nav > ul a:focus {
    background-color: var(--primary);
    color: #333333;
}

nav.menu-nav > ul ul {
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
}

nav.menu-nav > ul .submenu.menu-active {
    background-color: var(--primary);
}

nav.menu-nav > ul .menu-active {
    background-color: var(--primary);
    color: #333333;
}

/*-------------------------------------------------------------------------------*/
/*        1.9 BREADCRUMBS STYLE                                                  */
/*-------------------------------------------------------------------------------*/
#breadcrumbs a:hover,
#breadcrumbs a:focus {
    background-color: var(--primary);
    border: 1px solid #dab900;
    color: #333333;
}

/*-------------------------------------------------------------------------------*/
/*        1.10 PAGINATION STYLE                                                  */
/*-------------------------------------------------------------------------------*/

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > a:focus {
    background-color: var(--primary);
    border-color: #dab900;
    color: #333333;
}

.pagination > li > a.active {
    background-color: var(--primary);
    border-color: #dab900;
    color: #333333;
}

/*-------------------------------------------------------------------------------*/
/*        2.5 HOME CONTACT STYLE                                                 */
/*-------------------------------------------------------------------------------*/

#contact .block-container .box-header .icon-containe {
    color: white;
}
#contact .block-container .box-header .icon-container:hover {
    /*background-color: rgba(249, 211, 0, 0.7);*/
    background-color: var(--primary);
    color: var(--dark);
}

/*-------------------------------------------------------------------------------*/
/*        2.6 HOME FEEDBACK STYLE                                                */
/*-------------------------------------------------------------------------------*/

.feedback-user .vote {
    color: var(--primary);
}

/*-------------------------------------------------------------------------------*/
/*        2.7 HOME NEWSLETTER STYLE                                              */
/*-------------------------------------------------------------------------------*/

#newsletter:after {
    background-color: rgba(249, 211, 0, 0.7);
}

#newsletter .input-group .input-group-addon {
    background-color: var(--primary);
    border-color: #dab900;
}

#newsletter .input-group button,
#newsletter .input-group .form-control {
    border-color: #dab900;
}

/*-------------------------------------------------------------------------------*/
/*        1.11 FOOTER STYLE                                                      */
/*-------------------------------------------------------------------------------*/

#footer-page a:hover,
#footer-page a:focus {
    color: var(--primary);
}

/*-------------------------------------------------------------------------------*/
/*        3.1 HEADER PAGES STYLE                                                 */
/*-------------------------------------------------------------------------------*/

#header-pages.simple-header h1 b {
    background-color: var(--primary);
    border: 1px solid #dab900;
}

/*-------------------------------------------------------------------------------*/
/*        3.5.3 PROGRESS BAR STYLE                                               */
/*-------------------------------------------------------------------------------*/

.progress-bar-mod .progress-bar {
    background-color: var(--primary);
    box-shadow: none;
    position: auto;
    z-index: 2;
}

/*-------------------------------------------------------------------------------*/
/*        3.5.1 ACCORDION STYLE                                                  */
/*-------------------------------------------------------------------------------*/

.accordion > h3,
.toggle > h3 {
    border-left: 6px solid var(--primary);
}

/*-------------------------------------------------------------------------------*/
/*        3.5.6 TAB AND PILLS STYLE                                              */
/*-------------------------------------------------------------------------------*/

.tab-mod .nav > li > a:focus,
.tab-mod .nav > li > a:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

.tab-mod .nav-tabs > li.active > a,
.tab-mod .nav-tabs > li.active > a:focus,
.tab-mod .nav-tabs > li.active > a:hover {
    border-color: var(--primary);
    border-bottom-color: #FFF;
}

.tab-mod .tab-pane {
    border-color: var(--primary);
    border-bottom-color: var(--primary);
}

.pillsmod li a:hover,
.pillsmod li a:focus {
    border-color: var(--primary);
}

.pillsmod li.active a,
.pillsmod li.active a:hover,
.pillsmod li.active a:focus {
    background-color: var(--primary);
    border-color: var(--primary);
}

.pillsmod .tab-content {
    border-top-color: var(--primary);
}

/*-------------------------------------------------------------------------------*/
/*        3.5.4 MEDIA LIST AND PANELS STYLE                                      */
/*-------------------------------------------------------------------------------*/

.medialist .media-body .media-heading .reply:hover,
.medialist .media-body .media-heading .reply:focus {
    background-color: var(--primary);
}

.medialist .media-body .media-heading .reply:hover span,
.medialist .media-body .media-heading .reply:focus span {
    color: #333333;
}

.panelmod .panel-heading {
    background-color: var(--primary);
    border-color: #dab900;
}

.panelmod .panel-footer {
    background-color: var(--primary);
    border-color: #dab900;
}

/*-------------------------------------------------------------------------------*/
/*        3.7 BLOG PAGES STYLE                                                   */
/*-------------------------------------------------------------------------------*/

#blog-column .tags ul li a:hover,
#blog-column .tags ul li a:focus {
    background-color: var(--primary);
    border: 1px solid #dab900;
}

article .blog-item-media:hover {
    border-top: 3px solid var(--primary);
}

/*-------------------------------------------------------------------------------*/
/*        3.12 ROOMS PAGE STYLE                                                  */
/*-------------------------------------------------------------------------------*/

#room .room-image {
    border-top: 4px solid var(--primary);
}

#room .image-header h1 {
    border-left: 5px solid var(--primary);
}

#room .gallery-block h4 {
    border-bottom: 3px solid var(--primary);
}

/*-------------------------------------------------------------------------------*/
/*        3.14 TEAM PAGE STYLE                                                   */
/*-------------------------------------------------------------------------------*/

#team-list .team-role:hover,
#team-list .team-role:focus {
    background-color: var(--primary);
}

/*-------------------------------------------------------------------------------*/
/*        3.4 WIDGET GALLERY STYLE                                               */
/*-------------------------------------------------------------------------------*/

.gallery-block .image-gallery .cover {
    background-color: var(--primary-70);
}